/* Estilos generales */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #ffffff;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Estilos para el encabezado */
  
  header {
    background-color: #6495ed;
    color: #fff;
    padding: 25px;
  }

  h1 {
    margin: 0;
  }
  
  /* Estilos para la barra de navegación */
  
  nav {
    background-color: #add8e6;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #333;
    text-decoration: none;
    padding: 5px;
  }