/* Estilos generales */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #ffffff;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Estilos para el encabezado */
  
  header {
    background-color: #6495ed;
    color: #fff;
    padding: 25px;
  }

  h1 {
    margin: 0;
  }
  
  /* Estilos para la barra de navegación */
  
  nav {
    background-color: #add8e6;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #333;
    text-decoration: none;
    padding: 5px;
  }
  
  nav ul li a:hover {
    background-color: #333;
    color: #fff;
  }
  
  /* Estilos para el contenido principal */
  
  main {
    background-color: #000000;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin-top: 0;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid #1e90ff;
    padding: 8px;
  }
  
  th {
    background-color: #1e90ff;
  }
  
  /* Estilos para el formulario de registro */
  
  form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }
  
  form input,
  form select {
    margin-top: 5px;
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button[type="submit"] {
    margin-top: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  button[type="submit"]:hover {
    background-color: #555;
  }
  
  /* Estilos para la página "Sobre Mí" */
  
  ul {
    margin-left: 20px;
  }
  
  ul li {
    margin-bottom: 5px;
  }